body{
    margin: 0;
    background-color: rgb(60, 60, 160);
}
header{
    background-color: rgb(39, 39, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5vw;
    margin-top: 1vw;
}
h1{
    color: white;
}
.carousel-inner{
    margin-top: 3vw;
    background-color: rgb(11, 11, 53);
    border-radius: 3vw;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: 28vw;
    display: flex;
    align-items: center;
}
img{
    width: 320px;
    height: 429px;
    margin-right: auto;
    margin-left: auto;
}
